html, body { 
    height: 100%; 
    margin: 0; 
    background: #1a1a1a; 
    font-family: sans-serif;
    color:White;
}

body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.container { 
    background: #2c2c2c; 
    padding: 40px; 
    border-radius: 20px; 
    box-shadow: 0 15px 35px rgba(0,0,0,0.6); 
    width: 100%;
    max-width: 320px; 
    text-align: center;
}

h1 { color: #2ecc71; margin-bottom: 30px; font-size: 28px; }

h2 { color: #2ecc70 !important; margin-bottom: 30px; font-size: 28px; }

h3 { color: #2ecc69; margin-bottom: 30px; font-size: 28px; }

input { 
    display: block; 
    width: 100%; 
    margin-bottom: 15px; 
    padding: 12px; 
    border-radius: 8px; 
    background: #333; 
    color: white; 
    border: 1px solid #444; 
    box-sizing: border-box; 
}

button { 
    width: 100%; 
    cursor: pointer; 
    padding: 14px; 
    border: none; 
    color: white; 
    font-weight: bold; 
    border-radius: 8px; 
    font-size: 16px;
    transition: transform 0.2s;
}

button:active { transform: scale(0.98); }
.btn { border-radius: 8px; color: white; }
.btn-login { background: #2ecc71; margin-bottom: 10px; border-radius: 8px; color: white;}
.btn-register { background: #3498db; border-radius: 8px; color: white;}
.msg { color: #f1c40f; margin-bottom: 20px; font-size: 0.9em; border-radius: 8px; color: white;}
