body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}

ul {
    justify-content: flex-end;
    padding: 0 10px;
    list-style: none;
    margin: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  
}

li {
    margin: 2px 3px;
}

a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s, border-bottom 0.3s;
}
